---
---

/*home page list*/
@element .post-list and (max-width: 800px) {
  .post-list .post-link .post-subtitle {
    display: none;
  }
  .post-list > li .post-link .post-meta {
    left: 0px;
    bottom: 0px;
    background: rgba(73, 165, 188, 0.67);
    position: absolute;
    transform: none;
    line-height: initial;
    top: initial;
    padding: 5px;
  }
  .post-list .post-link .post-title {
    transform: none;
    left: 0;
    top: 0;
    padding: 15px;
    background: rgba(33, 56, 56, 0.75);
    text-align: left;
    line-height: 1.5em;
    margin: 15px;
  }
}
@element .post-list and (max-width: 600px) {
  .post-list .post-link .post-title {
    font-size: 18px;
  }
}
@element .post-list and (max-width: 420px) {
  .post-list > li .post-link .post-meta {
    display: none;
  }
  .post-list .post-link .post-title {
    font-size: 16px;
  }
}
