---
layout: default
bodyClass: home
hideModule: true
showCommentMeta: false
leadImage: "/assets/ask_more_questions_26_9.jpg"
leadImageAlt: Ian Roberts Senior Front End Web Developer, Team Lead, Designaroni.com
---

<div class="home">

{% if page.hideModule == false %}
{% else %}
  {% include _modules/listAllArticles.html %}
{% endif %}

{% if page.hideModule == true %}
{% else %}
  {% comment %}Feature Specific Category & Posts{% endcomment %}
  {% assign categoryname = "terminal" %}
  {% include _modules/specificCategoryPosts.html %}
{% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
