---
layout: default
bodyClass: home
hideModule: true
---
<div class="home">

{% if page.hideModule == true %}
{% else %}
  {% include _module/listAllArticles.html %}
{% endif %}

{% if page.hideModule == false %}
{% else %}
  {% comment %}Feature Specific Category & Posts{% endcomment %}
  {% assign categoryname = "front-end" %}
  {% include _modules/specificCategoryPosts.html %}
{% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
