//wrap
body {
    background: #edf0f2;
    > .wrap {
        background: #fbfbfb;
        max-width: 1200px;
        width:100%;
        margin: auto;
        box-shadow: 0px 5px 5px 2px #e3e4e4;
    }
}
.col {
  float: left;
  width: 50%;
  @include mqmax($medium) {
    width: 100%;
  }
  .about & ul {
    margin-bottom: 0;
    list-style: none;
  }
}
.site-header {
    position: fixed;
    min-height: 56px;
    width: 100vw;
    left: 0;
    z-index: 9;
    background-color: transparent;
    transition: background-color 300ms;
    border: none;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    .scrolled & {
      background-color: $navBackgroundColor;
    }
}
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $navColor;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .page-link {
        color: $navColor;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include mqmax($medium) {
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(80% - (#{$spacing-unit} / 2));
    width:         calc(80% - (#{$spacing-unit} / 2));
}

@include mqmax($large) {
    .footer-col-1 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include mqmax($medium) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
}




/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include mqmax($large) {
        font-size: 36px;
    }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.leadImage {
  position: relative;
  overflow: hidden;
  height: calc(100vw / (26/9));
  width: 100vw;
  left: calc(-1*(100vw - 100%) / 2);
  img {
    max-width: initial;
    width: 100%;
    height: auto;
  }
  .post-header {
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,39,59,.2);
    //box-shadow: inset 0px 0px 100px 0px black;
    padding: 15px;
    height: calc(100vw*(9/26));
    box-sizing: border-box;
  }
  .post-title {
    font-size: 4vmax;
    color: rgba(255, 255, 255, 0.8);
    @include mqmax($medium) {
      font-size: 3vmax;
    }
    @include mqmax($small) {
      font-size: 2vmax;
    }
  }
  .post-meta {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .post-header-innner-wrap {
    position: absolute;
    bottom: 20%;
    width: 80%;
    margin: 0 10%;
  }
}
