.col {
  float: left;
  width: 50%;
  @include mqmax($medium) {
    width: 100%;
  }
  .about & ul {
    margin-bottom: 0;
    list-style: none;
  }
}
.site-header {
    border-bottom: 2px solid $borderColorOne;
    min-height: 56px;
    position: relative;
    background: $navBackgroundColor;
}
.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    &,
    &:visited {
        color: $navColor;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $navColor;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include mqmax($medium) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include mqmax($large) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include mqmax($medium) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $base-font-size;
    color: $grey-color;
}




/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include mqmax($large) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;

        @include mqmax($large) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include mqmax($large) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include mqmax($large) {
            font-size: 18px;
        }
    }
}

.leadImage {
  position: relative;

  .post-header {
    position: absolute;
    top: 35%;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    @include mqmax($large) {
      top:25%;
    }
    @include mqmax($medium) {
      top: 0;
      height: calc(100vw*(9/26));
    }
  }
  .post-title {
    font-size: 4vmax;
    color: rgba(255, 255, 255, 0.8);
    @include mqmax($medium) {
      font-size: 3vmax;
    }
    @include mqmax($small) {
      font-size: 2vmax;
    }
  }
  .post-meta {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .post-header-innner-wrap {
    display: inline-block;
    background: rgba(0,39,59,.2);
    box-shadow: inset 0px 0px 100px 0px black;
    padding: 15px;
    @include mqmax($medium) {
      height: calc(100vw*(9/26));
      box-sizing: border-box;
      display: block;
    }
  }
}
