@mixin ff($key) {
  font-family: fontFamily($key);
}
@mixin fw($key) {
  font-weight: fontWeight($key);
}
@mixin fst($key) {
  font-style: fontStyle($key);
}
@mixin fsi($key, $value) {
  font-size: $key#{unquote($value)};
}
@mixin centerWidth($key) {
  width: $key;
  margin: auto;
  position: relative;
}
@mixin mqmax($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin vert-horz-align($position) {
  position: $position;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
