.profile {
  border-radius: 100%;
  border: 2px solid lightslategray;
  display: inline-block;
  overflow: hidden;
  width: 25%;
  box-sizing: border-box;
  float: left;
  @include mqmax($medium) {
    width: 30%;
    float: none;
    margin: 10px 35%;
  }
}
.profileDescription {
  float: right;
  width: 70%;
  @include mqmax($medium) {
    width: 100%;
  }
}
.post-list {
  > li {
    position: relative;
    text-align: center;
    h2 {
      margin: 0 auto;
      display: inline-block;
      line-height: 1.5;
      @include vert-horz-align(absolute);
      top:20%;
    }
    .post-subtitle {
      @include vert-horz-align(absolute);
    }
    .post-meta {
      @include vert-horz-align(absolute);
      top: 87%;
      color: white;
    }
    .post-link {
      display: block;
    }
  }
}
.post-group,
.post-categories-filter-group {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &:before {
    content: '';
    height: 1px;
    width: 100%;
    top: calc(37px / 2);
    background: darkslategray;
    position: absolute;
    border-bottom: 1px solid #eee;
  }
  .post-group-title {
    font-size: 18px;
    background: $postTitle;
    display: inline-flex;
    padding: 5px;
    margin: 0 auto 10px;
    color: whitesmoke;
    text-transform: capitalize;
    position: relative;
    border: 0px solid white;
    border-right-width: 3px;
    border-left-width: 3px;
  }
  .post-item-group {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    .post-item {
      padding: 10px 5px;
      flex:1 0 calc(25% - 10px);
      min-width: calc(25% - 10px);
      position: relative;
      @include mqmax($content-width) {
        flex: 1 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
        min-width: initial;
      }
      @include mqmax($medium) {
        max-width: initial;
      }
      @include mqmax(430px) {
        min-width: 100%;
      }
      .post-link {
        display: block;
        @include mqmax($medium) {
          width: calc(130px * (26/9));
          margin: auto;
          position: relative;
        }
        @include mqmax(430px) {
          width: 100%;
        }
        .post-title,
        .post-subtitle {
          transition: color 300ms;
        }
        &:hover {
          text-decoration: none;
          .post-title,
          .post-subtitle {
            color:grey;
          }
        }
      }
      .post-title {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: initial;
        text-transform: capitalize;
        color:$postTitle;
      }
      .post-subtitle {
        font-size: 16px;
        color: $postSubtitle;
        text-transform: capitalize;
      }
      .post-meta {
        position: absolute;
        top: 10px;
        left: 5px;
        color: white;
        background: rgba(73, 165, 188, 0.67);
        padding: 5px 5px 0;
        @include mqmax($medium) {
          top: 0px;
          left: 0px;
        }
      }
      .post-leadImage {
        height: 130px;
        overflow: hidden;
      }
      .post-leadImage img {
        width: auto;
        height: 100%;
        max-width: initial;
      }
    }
  }
}
.post-categories-tag {
  background: lightgray;
  display: inline-block;
  position: relative;
  margin: 5px 7px;
  padding: 5px;
  border-radius: 3px;
  @include ff(one);
  font-weight: 600;
  text-transform: uppercase;;
  font-size: 12px;
  transition: background 300ms, color 300ms;
  &:hover {
    background: darkgrey;
    color:white;
    text-decoration: none;
  }
  &.hasLess {
    .visible {
      top: 0;
      left: 0;
      border-radius: 0;
      width: 100%;
    }
    &:hover {
      .visible {
        display:block;
      }
    }
    &.hasMore {
      .visible,
      .show-all {
        width:50%;
      }
    }
  }
  &.selected {
    background: darkslategrey;
    color:white;
    text-decoration: none;
    &:hover {
      background: darkgrey;
      color:white;
      text-decoration: none;
    }
    &.hasMore {
      background: slategrey;
      color:white;
      text-decoration: none;
      &:hover {
        background: darkgrey;
        color:white;
        text-decoration: none;
      }
    }
  }
  &.hasMore {
    .show-all {
      top: 0;
      right: 0;
      border-radius: 0;
      width: 100%;
      border: none;
    }
    &:hover {
      .show-all {
        display:block;
      }
    }
  }
  .visible {
    display: none;
    position: absolute;
    top: -20px;
    left: -15px;
    padding: 7px;
    box-sizing: border-box;
    background: #D6401E;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid #9E3017;
    font-size: 8px;
    color: white;
    font-weight: 600;
    z-index: 1;
  }
  .show-all {
    display:none;
    position: absolute;
    top: -20px;
    right: -15px;
    padding: 7px;
    box-sizing: border-box;
    background: lightgrey;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid darkgrey;
    font-size: 8px;
    color: white;
    font-weight: 600;
    z-index: 1;
  }
  span {
    font-weight: normal;
    padding-left: 5px;
  }
}
.post-category {
  padding: 5px 5px 5px 0;
  font-size: 10px;
  text-transform: capitalize;
  color: grey;
  font-style: italic;
}
