// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #F5F5F5;
$brand-color:      lightslategrey;
$navBackgroundColor: darkslategrey;
$navColor:         #eaeaea;
$grey-color:       #444c5a;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$borderColorOne:   #D6D6D6;

//postgroup module
$postTitle    : #444c5a;
$postSubtitle : #5D98A6;

// breakpoints
$x-small:      400px;
$small:        600px;
$medium:       800px;
$large:        960px;
$x-large:      1200px;
// Width of the content area
$content-width:    $large;
//
$fontFamilys: (
  "one"     : unquote("'jaf-facitweb', sans-serif"),
  "two"     : unquote("'bookmania', sans-serif")
);
$fontWeights: (
  "one"     : 300,
  "two"     : 400,
  "three"   : 700,
  "four"    : 800
);
$fontStyles: (
  "one"     : normal,
  "two"     : italic
);
$breakpoints: (
  "large"   : 1200px
);
