// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      lightslategrey;
$navColor:         darkslategrey;
$grey-color:       #444c5a;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
// breakpoints
$x-small:      320px;
$small:        400px;
$medium:       600px;
$large:        800px;
$x-large:      1200px;

$fontFamilys: (
  "one"     : unquote("'jaf-facitweb', sans-serif"),
  "two"     : unquote("'bookmania', sans-serif")
);
$fontWeights: (
  "one"     : 300,
  "two"     : 400,
  "three"   : 700,
  "four"    : 800
);
$fontStyles: (
  "one"     : normal,
  "two"     : italic
);
$breakpoints: (
  "large"   : 1200px
);
