//some typography defined in config.yml & global.js
//Site base typography
html, body {
  @include ff(one);
  @include fw(two);
  @include fst(one);
  color: $text-color;
  @include fsi(16,"px");
}
// heading typography overrides
// extend pulls all selectors together
%headers {
  @include ff(one);
  @include fw(four);
  line-height: 1.5em;
  margin: 1.5em 0 .5em 0;
  color: darkslategray;
}
%h1 {
  @include fsi(50,"px");
}
%h2 {
  @include fsi(40,"px");
}
%h3 {
  @include fsi(20,"px");
  margin: initial;
  padding: 0;
}
%h4 {
  @include fsi(25,"px");
}
%h5 {
  @include fsi(22,"px");
}
%h6 {
  @include fsi(20,"px");
}
%p {
  @include fsi(16,"px");
  @include fw(two);
  line-height: normal;
  // margin-bottom: auto;
}
%removeAut {
  margin:auto;
}
#{$headings} {
  @extend %headers;
  @at-root {
    .site-header {
      @extend %removeAut;
    }
  }
}
h1 {
  @extend %h1;
  @at-root {
    .post-title {
      @extend %removeAut;
    }
  }
}
h2 {
  @extend %h2;
}
h3 {
  @extend %h3;
}
h4 {
  @extend %h4;
}
h5 {
  @extend %h5;
}
h6 {
  @extend %h6;
}
p {
  @extend %p;
}
.post-title {
  @include mqmax($large) {
    font-size: 36px;
  }
}
.post-content {
  h2 {
    font-size: 48px;
    margin-top: 48px;
    line-height: 1.5em;
    @include mqmax($large) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 32px;
    @include mqmax($large) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 24px;
    @include mqmax($large) {
      font-size: 18px;
    }
  }
}
.post-list {
  .post-link {
    color:white;
    font-size: 16px;
  }
  .post-title {
    font-size: 24px;
    color: white;
  }
}
.leadImage {
  .post-title {
    font-size: 4vmax;
    @include mqmax($medium) {
      font-size: 3vmax;
    }
    @include mqmax($small) {
      font-size: 2vmax;
    }
  }
}
